.fab-wrapper{
  position: fixed;
  bottom: 10px;
  right: 16px;
  z-index:999;
}

.fab-wrapper button{
  background-color: #9e04bd;
}

.fab-wrapper button:hover{
  background-color: #b704da;
}

.example-header-image img{
  border-radius: 100%;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}


img{
  margin: auto;
  height: 25vh;
  width: 100%;
  object-fit: cover;
}

.grid-container{
  width: 400px;
  height: 500px;
}
