button{
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.btn-foto{
    background-color: #5D0070;
    color: white;
}

.btn-foto2{
    background-color: green;
    color: white;
}

.btn-foto:hover{
    background-color: #7c0095;
}

.btn-foto2:hover{
    background-color: rgb(18, 171, 18);
    color: white;
}

.btn-center{
    text-align: center;
    margin: auto;
}